/* Black */

$navBg      : #000000;
$navHighlight    : #212F3D;
$navText     : #ecf0f1;
$navTextHover       : #626567; 

/* --- Style Nav Bar--- */
.navbar-default {
    background-color: $navBg;
    border-color: $navHighlight;
    z-index: 2;
    min-height: 60px;
    margin-bottom: 0px;
    .navbar-brand {
        padding-left: 5%;
        padding-top: 5px;
        min-height: 60px;
        img {
            margin-left: 45px;
            height: inherit;
        }
        color: $navText;
        &:hover, &:focus {
            color: $navTextHover; }}
    .navbar-nav {
        padding-top: 5px;
        > li {
            margin-right: 25px;
            > a {
                color: $navText;
                &:hover, &:focus {
                    color: $navTextHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $navTextHover;
                background-color: $navHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $navTextHover;
                background-color: $navHighlight;
                .caret {
                    border-top-color: $navTextHover;
                    border-bottom-color: $navTextHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $navText;
                    border-bottom-color: $navText; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $navTextHover;
                        border-bottom-color: $navTextHover; }}}}}
    .navbar-toggle {
        border-color: $navHighlight;
        &:hover, &:focus {
            background-color: $navHighlight; }
        .icon-bar {
            background-color: $navText; }}}

 /* --- End Style for Nav Bar--- */
//all sections
.section {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}
/* --- End Style for Nav Bar--- */


#section4-container{
  height: 100vh;
  position: relative;
  z-index: -1;
  padding:0px;
  text-align: center;
}
#footer-container{
  height: 20vh;
  width:100vw;
  padding-top:5vh;
  text-align: center;
}
#footer-container div{
  height: 50%;
  width: 100%;
  color: #000000;
}
#footer-container #footer-part2{
  color: $navText!important;
  background: $navBg;
}
//section 1 Banner
.banner { 
    > img#bkgd {
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }

    > img#bkgd-b {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 7.5%;
    }

    > img#img-banner {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
    }

    > img#img-banner1 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
    }

    > img#img-banner2 {
        position: absolute;
        z-index: 1; 
        width: 40%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 24%;
    }

    > img#img-banner3 {
        position: absolute;
        z-index: 1; 
        width: 50%;
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 37%;
    }

    > img#img-banner4 {
        position: absolute;
        z-index: 1; 
        width: 40%;
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 10%;
    }

   
    
}
// fin Seccion 1 
// Seccion 2 Info Carousel
#section2-container{
    position: relative;
    width: 100%;
    height: 100%;

    > img {
        width: 100%;
        height: 100%;
    } 
    .carousel {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .carousel-inner, .item, .carousel-div-section{
         height: 100%;
         text-align: center;
         top: 10%;
    }   
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000\9;
        background-color: black;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: gray;
    }
    .carousel-control.left {
        background: none;
    }
    .carousel-control.right {
        background: none;
    }
}
// fin Seccion 2
// Seccion 3 parallax
#parallax-container{
  background-image: url('../images/Home/parallax/heredia1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  position: relative;
 }
//fin Seccion 3
//Seccion 4 carousel Iglesias
#section3-container img {
  width: 100%;
  height: 100%; }
//fin seccion 4
//MEDIA
@media (max-width: 708px) {
    navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $navText;
        &:hover, &:focus {
            color: $navTextHover;
            background-color: $navHighlight; }}

    .navbar-default .navbar-brand{
        padding-left: 0px;
        > img {
            position:absolute;
            margin-left: 5%;
        }
    }      

  .section > img#img-banner4 {
        position: absolute;
        z-index: 1; 
        width: 70%;
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 15%;
   }
   .section > img#img-banner1 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        margin-top: -12%
    }
}
// Utils classes 
