/* Black */
/* --- Style Nav Bar--- */
.navbar-default {
  background-color: #000000;
  border-color: #212F3D;
  min-height: 60px;
  width: 100vw;
  margin-bottom: 0px; 
  position: absolute;
  }
  .navbar-default .navbar-brand {
    padding-left: 5%;
    padding-top: 5px;
    min-height: 60px;
    color: #ecf0f1; }
    .navbar-default .navbar-brand img {
      margin-left: 45px;
      height: inherit; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #626567; }
  .navbar-default .navbar-nav {
    padding-top: 5px; }
    .navbar-default .navbar-nav > li {
      margin-right: 25px; }
      .navbar-default .navbar-nav > li > a {
        color: #ecf0f1; }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
          color: #626567; }
    .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
      color: #626567;
      background-color: #212F3D; }
    .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
      color: #626567;
      background-color: #212F3D; }
      .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
        border-top-color: #626567;
        border-bottom-color: #626567; }
    .navbar-default .navbar-nav > .dropdown > a .caret {
      border-top-color: #ecf0f1;
      border-bottom-color: #ecf0f1; }
    .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
      border-top-color: #626567;
      border-bottom-color: #626567; }
  .navbar-default .navbar-toggle {
    border-color: #212F3D; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #212F3D; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #626567;
      background-color: #212F3D; }

  .navbar-default .navbar-brand {
    padding-left: 0px; }
    .navbar-default .navbar-brand > img {
      position: absolute;
      margin-left: 5%; } }
/* --- End Style for Nav Bar--- */


.transparent-no {
  opacity: 1 !important; }

#section1-container{

  position: relative;
  z-index: -1;
  padding:0px;

}

#section1-container img{

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

#section1-container #img1{

  width: 100vw;
  height: 100vh;

}

#section1-container #img2{

  width: 100vw;
  max-height: 100vh;

}

#section1-container #img3{

  margin-top: 80vh;

}

#section2-container{

  position: relative;
  z-index: -1;
  padding:0px;

}
#section3-container{

  position: relative;
  z-index: -1;
  padding:0px;

}
#section4-container{

  position: relative;
  z-index: -1;
  padding:0px;

}


/*# sourceMappingURL=home.css.map */
